/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff1c7;
  height: 100%;
  box-sizing: border-box;
  overscroll-behavior: none;
}
main {
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-content: space-between;
  width: 95%;
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
  margin-top: 30px;
  gap: 3rem;
}
.content-layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: auto;
  flex: 1;
}
#gallery,
#skill,
#card {
  scroll-margin-top: 30vh;
}

section h3 {
  margin-bottom: 15px;
}