.card-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
.card-img {
  background-color: #fff1c7;
}
.card {
  width: 180px;
  height: 200px;
  border-radius: 20px;
  background-color: #fff;
  transition: all 0.25s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.card-img {
  border-radius: 20px 20px 0 0;
  width: 180px;
  height: 120px;
  overflow: hidden;
  object-fit: cover;
}

.like-toggle {
  display: none;
}
.like-icon {
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
  background-image: url("../assets/icon/heart.svg");
  background-size: cover;
  transition: transform 0.2s ease;
}
.like-toggle:checked + .like-icon {
  background-image: url("../assets/icon/heart-fill.svg");
}

.card p {
  padding: 8px 0 0 0;
  margin: 0;
}
.card-detail {
  color: #ccc;
  font-size: 12px;
  margin: 0;
}
.card-like {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
