.card-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
.card-img {
  background-color: #fff1c7;
}
.card {
  width: 180px;
  height: 200px;
  border-radius: 20px;
  background-color: #fff;
}
.card-img {
  border-radius: 20px 20px 0 0;
  width: 180px;
  height: 120px;
  overflow: hidden;
  object-fit: cover;
}
.like-icon {
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
}
.card p {
  padding: 8px 0 0 0;
  margin: 0;
}
.card-detail {
  color: #ccc;
  font-size: 12px;
  margin: 0;
}
.card-like {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
