.gallery-layout {
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}
.gallery-layout img {
  border-radius: 10px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  flex: 0 0 auto;
}
