.gallery-layout {
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem;
  overflow: hidden;
  min-width: 200rem;
}

.loop {
  animation: aniScroll 10s linear infinite;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  min-width: 200rem;
}

@keyframes aniScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.loop img {
  border-radius: 10px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  flex: 0 0 auto;
  transition: all 0.25s ease;
}
.loop img:hover {
  transform: scale(1.05);
}
