header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
  width: 100%;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 999;
}

.header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
}

.header-text h4 {
  margin: 0;
}

.header-text p {
  margin: 10px 0 0 0;
  color: #898989;
  font-size: 13px;
}
.profile-img {
  border-radius: 100%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

header > div:last-child {
  justify-self: end;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
