.profile2 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  overflow: hidden;
  transition: all 0.25s ease;
}
.profile2:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.hero {
  margin-top: 20px;
  background-color: #fde293;
  padding: 2rem;
  border-radius: 20px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-grid {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.hero-text h3 {
  margin: 0;
}
.hero-text p {
  margin: 0;
  color: #fff;
}
.button1,
.button2 {
  all: unset;
  width: 70px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 13px;
  transition: all 0.25s ease;
  margin-right: 10px;
}
.button1 {
  background-color: #f9ab00;
  color: #fff;
}
.button2 {
  border: 1px solid #f9ab00;
  background-color: #fff;
  color: #f9ab00;
}
.button1:hover,
.button2:hover {
  transform: scale(1.1);
}
