nav {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: sticky;
  min-width: 12rem;
  max-width: 12rem;
  top: 12rem;
  left: 3rem;
  gap: 1rem;
  z-index: 999;
  background-color: #ffffff;
  color: #000;
  border-radius: 1.2rem;
  padding: 2rem;
}

.bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

nav a {
  all: unset;
  text-decoration: unset;
  text-align: center;
  padding: 8px 20px;
  border-radius: 30px;
}

nav a:hover {
  background-color: #f9ab00;
  color: white;
}
